$small-screen: 500px;
$medium-screen: 1000px;

mat-nav-list {
    display: flex;
    flex-direction: column; 
    height: 100%; 
    padding: 10px 10px 0px 10px;
}
  
.top-wrapper {
  flex: 1; 
}

.bottom-wrapper {
    margin-top: auto;
}

mat-list-item span[matListItemTitle] {
  font-size: 16px; 
  color: white; 
  margin-left: 10px;
  text-align: left; 
}

span[matListItemTitle] {
    display: block; 
}


a {
  margin-bottom: 10px;
}



#post-link {
  background-color: white;

  span,
  mat-icon {
    color: black;
  }
}

#post-link:hover {
  background-color: rgb(218, 218, 218);
  color: black;
}

.logout-button {
  background-color: #f44336; 
  color: white; 
}

@media (max-width: $medium-screen) {
    mat-nav-list {
        height: 95%; 
    }
  span[matListItemTitle] {
    display: none; 
  }
  a {
    padding: 0px;
  }

}

@media (max-width: $small-screen) {
  span[matListItemTitle] {
    display: block; 
  }
  mat-nav-list{
    height: 90%;
  }
}