$small-screen: 500px;
$medium-screen: 1000px;

mat-nav-list{
    padding: 10px 10px 0px 10px;
}

mat-list-item span[matListItemTitle],
mat-list-item .mat-mdc-list-item-title {
    font-size: 16px; /* Adjust font size as needed */
    color: white; /* Change text color to white */
    margin-left: 10px; /* Add space between icon and text */
    text-align: left; /* Ensure text is aligned to the left */
}

.mdc-list-item__content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    width: 100%; /* Ensure it spans the full width */
}

#post-link{
    background-color: white;
    
    span, mat-icon{
        color: black;
    }
}

@media (max-width: $medium-screen) {
    span[matListItemTitle],
    .mat-mdc-list-item-title {
        display: none; /* Hide titles on smaller screens */
    }
    a{
        padding: 0px;;
    }
}

@media (max-width: $small-screen) {
    span[matListItemTitle],
    .mat-mdc-list-item-title {
        display: block; /* Show titles on very small screens */
    }
}