<div class="form-wrapper">
    <form (ngSubmit)="postTweet()" class="post-form">
        <mat-form-field>
          <div class="textarea-wrapper">
            <textarea
              matInput
              placeholder="What are you thinking about?"
              (input)="adjustTextareaHeight($event)"
              [formControl]="post"
            ></textarea>
          </div>
        </mat-form-field>

        @if (error) {
            <div class="error-message">
              {{ error }}
            </div>
        }
        @if(isLoggedIn()){
          <div class="button-wrapper">
              <button mat-button type="submit">Post</button>
          </div>
        } @else {
            <div class="button-wrapper">
              <button mat-button type="button" (click)="redirectToLogin()">Login</button>
            </div>
        }
    </form>
</div>