<div class="form-wrapper">
    <form [formGroup]="signupForm" (ngSubmit)="signup()" class="login-form">
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput type="email"
                formControlName="email"
            />
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Handle:</mat-label>
            <input matInput type="text"
                formControlName="handle"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput type="password"
                formControlName="password"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password:</mat-label>
            <input matInput type="password"
                formControlName="confirmPassword"
            />
        </mat-form-field>
    </form>
</div>
