<div class="form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput type="text"
                formControlName="email"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput type="password"
                formControlName="password"
            />
        </mat-form-field>
        <button mat-button>Login</button>
    </form>
    <div class="signup-link">
        <p>Don't have an account? <a routerLink="/signup" routerLinkActive="activate-list-item">Sign Up</a></p>
    </div>
</div>
