<mat-sidenav-container>
  <mat-sidenav 
    #sidenav
    [fixedInViewport]="!isSmallScreen"
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen"
  >
    <app-menu [sidenav]="sidenav"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button (click)="onSidenavToggle(sidenav)" 
        class="menu-toggle-button">
        <span class="menu-toggle-button-icon">
          <mat-icon>menu</mat-icon>
        </span>
      </button>
    </mat-toolbar>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis, non aspernatur molestias voluptatum fugit eius odit culpa temporibus maiores, magni similique rerum fugiat impedit, fuga perspiciatis quisquam facilis. Deleniti.</h1>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>