$background-color: #0d1114;
$secondary-color: #3AA8F2;
$border-color: rgb(129, 129, 129);
$sidenav-width: calc(50% - 315px);
$small-screen: 500px;
$medium-screen: 1000px;

.logo{
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: left;
}

main {
    width: 630px;
    max-width: 630px;
    
    background-color: $background-color;
    border: 1px solid $border-color;
    border-top: none;
    border-bottom:none;
    
}

app-menu{
    position: absolute;
    height: 95%;
    right: 0;

}

mat-toolbar{
    position: sticky;
    top: 0;
    width: 630px;
    z-index: 10 !important;
    margin: 0;
    background-color: $background-color;
    border-bottom: $border-color solid 1px;
    border-right: $border-color solid 1px;
    border-top: $border-color solid 1px;
    color: white;
    mat-icon {
        color: white;
    }
}

mat-sidenav {
    border-radius: 0px;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100; 
    width: $sidenav-width; 
    background-color: $background-color;
    border-right: $border-color solid 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 

}

mat-sidenav-container {
    height: 100%;
    width: 100%;
}

mat-sidenav-content {
    z-index: 1; 
    position: relative; 
    padding-bottom: 56px;
}

.menu-toggle-button-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-toggle-button {
    display: none;
    
}

.bottom-tabs {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    z-index: 10;
    background-color: $background-color;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: $border-color solid 1px;
    display: none; 
}


mat-form-field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 10px;
}

.search-input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 10px;
    border: $border-color 1px solid;
    border-radius: 20px;
    color: white;
    background-color: $background-color;
}
.search-input:focus {
    outline: 2px solid $secondary-color;
}

@media (max-width: $medium-screen) {

    app-menu{
        position: static; 
        padding: 0; 
        width: 100%; 
    }

    mat-sidenav {
        width: 80px;
    }

    span[matListItemTitle] {
        display: none;
    }

    main {
        width: calc(100% - 80px);
    }
    
    nav ul {
        display: none;
    } 
    
    mat-toolbar{
        width: 100%;

    }
}

@media (max-width: $small-screen) {

    .logo{
        position: fixed;

        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 0;
    }

    app-menu{
        position: static;
        padding: 0;
        width: 100%; 
    }
    main {
        width: 100%;
        margin-bottom:48px;
    }
    .menu-toggle-button {
        display: block;
    }
    nav ul {
        display: none;
    }
    .bottom-tabs {
        bottom: 0; 
        left: 0;
        display: block;
    }
    mat-sidenav {
        width: 250px;
        border: none;
    }
    span[matListItemTitle] {
        display: block;
    }
    mat-toolbar{
        width: 100%;
        margin-right: 0;
    }

    .search-input {
        display: block;
        position: absolute;
        top: 66px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 300px;
        padding: 10px;
        border: $border-color 1px solid;
        border-radius: 20px;
        color: white;
        background-color: $background-color;
    }

    .results-container {
        margin-top: 60px;
    }

    .search-input:focus {
        outline: 2px solid $secondary-color;
    }

    :host ::ng-deep .mdc-tab{
        min-width: 60px;
    }
}
