  <mat-sidenav-container>
  <mat-sidenav 
    #sidenav
    [fixedInViewport]="!isSmallScreen"
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen"
  >
    <app-menu [sidenav]="sidenav" [isSmallScreen]="isSmallScreen"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      
    <mat-toolbar>
      <!--<mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matSuffix>search</mat-icon>
        <input 
          #searchInput
          matInput
          type="text" 
          placeholder="Search..." 
          class="search-input" 
          (keyup)="onSearch($event)" />
      </mat-form-field>-->

      <input
      *ngIf="!(isSmallScreen && !isSearchRoute)"
        #searchInput
        type="text" 
        [placeholder]="'Search...'" 
        class="search-input" 
        (keyup)="onSearch($event)" />
      <img src="../assets/img/logo-white.png" alt="" class="logo" />
      <button 
        mat-button (click)="onSidenavToggle(sidenav)" 
        class="menu-toggle-button">
        <span class="menu-toggle-button-icon">
          <mat-icon>person</mat-icon>
        </span>
      </button>
    </mat-toolbar>
    
      <router-outlet></router-outlet>
    </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

<mat-tab-group 
  class="bottom-tabs"
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="onTabChange($event.index)"
  animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>search</mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>mail</mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>person</mat-icon>
    </ng-template>
  </mat-tab>
</mat-tab-group>