@for($chat of chats; track $chat.id){
    @if($chat.isUserInChat(user.id)){
        <div class="chat-wrapper" (click)="openChat($chat.id)">
            <div class="chat-header">
                <mat-icon>person</mat-icon>
                <p class="chat-user-name">{{ $chat.getParticipantNamesExceptUser(user.id) }}</p>
            </div>
            <div class="chat-body">
                <p class="latest-message">{{ $chat.getLatestMessage()?.content }}</p>
                <p class="chat-date">{{ $chat.getLatestMessage()?.timestamp || '' | dateFormatter }}</p>
            </div>
        </div>
    }
}
