@use '@angular/material' as mat;
$background-color: #0d1114;
$secondary-color: #3AA8F2;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $background-color; }

:root {
    @include mat.form-field-overrides((
        filled-caret-color: $secondary-color,
        filled-focus-active-indicator-color: transparent,
        filled-active-indicator-color: $background-color,
        filled-container-color: $background-color,
        filled-hover-active-indicator-color: $background-color,
        
        
    ));

    @include mat.tabs-overrides((
        active-focus-indicator-color $secondary-color,
        active-hover-indicator-color $secondary-color,
        active-indicator-color $secondary-color,
    ));
    --mat-sys-background: $background-color;
}  

